:root {
  --dreadnought-text-area-bg: var(--dreadnought-color-surface-default);
  --dreadnought-text-area-text: var(--dreadnought-color-text-primary);
  --dreadnought-text-area-placeholder-text: var(--dreadnought-color-text-placeholder);
  --dreadnought-text-area-border-default: var(--dreadnought-color-border-default);
  --dreadnought-text-area-border-invalid: var(--dreadnought-color-status-error);
  --dreadnought-text-area-border-focus: var(--dreadnought-color-focus-ring);
}
