:root {
  --dreadnought-color-surface-canvas: rgb(23 23 23 / 100%);
  --dreadnought-color-surface-default: rgb(40 40 40 / 100%);
  --dreadnought-color-surface-subtle: rgb(48 48 48 / 100%);
  --dreadnought-color-surface-hover: rgb(61 61 61 / 100%);
  --dreadnought-color-surface-selected: rgb(86 86 86 / 100%);
  --dreadnought-color-surface-selected-hover: rgb(101 101 101 / 100%);
  --dreadnought-color-surface-inverse: rgb(255 255 255 / 100%);
  --dreadnought-color-action-primary: rgb(255 255 255 / 100%);
  --dreadnought-color-action-primary-hover: rgb(232 232 232 / 100%);
  --dreadnought-color-action-secondary: rgb(70 70 70 / 100%);
  --dreadnought-color-action-secondary-hover: rgb(88 88 88 / 100%);
  --dreadnought-color-text-primary: rgb(237 237 237 / 100%);
  --dreadnought-color-text-inverse: rgb(23 23 23 / 100%);
  --dreadnought-color-text-on-action-primary: rgb(23 23 23 / 100%);
  --dreadnought-color-text-on-action-secondary: rgb(255 255 255 / 100%);
  --dreadnought-color-text-placeholder: rgb(176 176 176 / 100%);
  --dreadnought-color-border-default: rgb(128 128 128 / 100%);
  --dreadnought-color-border-subtle: rgb(82 82 82 / 100%);
  --dreadnought-color-focus-ring: rgb(190 190 190 / 100%);
  --dreadnought-color-status-error: rgb(255 117 117 / 100%);
  --dreadnought-color-status-warning: rgb(245 188 102 / 100%);
  --dreadnought-color-status-success: rgb(118 211 160 / 100%);
}
