:root {
  --dreadnought-button-radius: var(--dreadnought-border-radius-x1);
  --dreadnought-button-min-height: var(--dreadnought-size-control-min-height);
  --dreadnought-button-focus-width: var(--dreadnought-border-width-x3);
  --dreadnought-button-border-width: var(--dreadnought-border-width-outline);
  --dreadnought-button-icon-size: var(--dreadnought-size-inline-graphic);
  --dreadnought-button-spinner-size: var(--dreadnought-size-inline-graphic);
  --dreadnought-button-spinner-border-width: var(--dreadnought-border-width-x2);
  --dreadnought-button-spinner-radius: var(--dreadnought-border-radius-circle);
}
