:root {
  --dreadnought-tabs-list-border-color: var(--dreadnought-color-border-default);
  --dreadnought-tabs-tab-bg: var(--dreadnought-color-surface-default);
  --dreadnought-tabs-tab-bg-hover: var(--dreadnought-color-action-secondary-hover);
  --dreadnought-tabs-tab-fg: var(--dreadnought-color-text-primary);
  --dreadnought-tabs-tab-fg-selected: var(--dreadnought-color-action-primary);
  --dreadnought-tabs-tab-indicator-color: var(--dreadnought-color-action-primary);
  --dreadnought-tabs-focus-ring: var(--dreadnought-color-focus-ring);
}
