:root {
  --dreadnought-input-bg: var(--dreadnought-color-surface-default);
  --dreadnought-input-text: var(--dreadnought-color-text-primary);
  --dreadnought-input-placeholder-text: var(--dreadnought-color-text-placeholder);
  --dreadnought-input-border-default: var(--dreadnought-color-border-default);
  --dreadnought-input-border-invalid: var(--dreadnought-color-status-error);
  --dreadnought-input-border-focus: var(--dreadnought-color-focus-ring);
}
