:root {
  --dreadnought-badge-solid-bg: var(--dreadnought-color-action-secondary);
  --dreadnought-badge-solid-fg: var(--dreadnought-color-text-on-action-secondary);
  --dreadnought-badge-outline-bg: var(--dreadnought-color-surface-default);
  --dreadnought-badge-outline-fg: var(--dreadnought-color-text-primary);
  --dreadnought-badge-outline-border-color: var(--dreadnought-color-border-default);
  --dreadnought-badge-ghosted-bg: transparent;
  --dreadnought-badge-ghosted-fg: var(--dreadnought-color-text-primary);
}
